<!-- extend base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <h1>Hi </h1>{{name}}
  <label class="control-label" for="deadline">

                            Deadline (mm/dd/yyyy)

                        </label>
<input data-provide="datepicker" data-date-format="mm/dd/yyyy" id="deadline"  type="text" value="{{ form.deadline.data }}" name="deadline" required></input>
<br><br>
 <form>
  Select a time:
  <input type="time" name="usr_time">
</form>

{% endblock %}